<div class="container-full-bg" id="image-back-main">
    <div class="jumbotron" id="gradient-main">
        <div id="jumbotron-content">
            <div id="title-container">
                <h1 class="title">Amey 
                    <span class="title-strong">Rupji</span> 
                </h1>
                <h3 class="title">
                    Software 
                    <span class="title-strong">Engineer</span>
                    <span class="title-hollow">Artist</span>
                </h3>
            </div>
            {{> login-form}}
        </div>
    </div>
</div>