<nav class="navbar fixed-bottom navbar-expand navbar-trans bg-transparent">
    <div class="collapse navbar-collapse mx-auto" id="navbarCollapse">
        <ul class="navbar-nav mx-auto mt-2 mt-md-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Version: Beta</a>
            </li>
        </ul>
    </div>
</nav>